.item-list {
    width: 588px;
    margin-top: 20px;
}
.list-container {
    display: flex;
    gap: 15px;
}
.item-list ul li {
    margin-top: 15px;
}

.item-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 글자색 유지 */
}
