.gnb-box {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--slate-200);
}

.gnb-box.gnb-large {
    width: 1920px;
}

.gnb-logo {
    margin-left: 360px;
}
